<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Printing...</title>
    <style><%- inlineContentOf('assets/pf-app/main.css') %></style>
    <script src="printInNewTab.js"></script>
</head>
<body class="content-unmask cs-algo-iframe application-layout has-orgbar scrollable-reports no-touch direction-ltr" id="pf-body">
    <div id="new-tab-content"></div>
</body>
</html>
